extends ../index

block content
    .container-fluid
        aside.right-side
            - if (articles.length)
                ul.timeline
                    - var count = 0;
                    - each article in articles
                        - count++;
                        - if(count % 2 === 0)
                            li.timeline-inverted
                                div.timeline-badge: i.glyphicon.glyphicon-file
                                div.timeline-panel
                                    div.timeline-heading
                                        h4.timeline-title: a(href='/articles/'+article._id, title=article.title) #{article.title}
                                        p
                                            small.text-muted: i.fa.fa-time </i> #{formatDate(article.createdAt, "%b %d, %Y at %I:%M %p")}</small>
                                        div.timeline-body
                                            p= article.description
                        - else
                            li
                                div.timeline-badge: i.glyphicon.glyphicon-file
                                div.timeline-panel
                                    div.timeline-heading
                                        h4.timeline-title: a(href='/articles/'+article._id, title=article.title) #{article.title}
                                        p
                                            small.text-muted: i.fa.fa-time </i> #{formatDate(article.createdAt, "%b %d, %Y at %I:%M %p")}</small>
                                        div.timeline-body
                                            p= article.description
            - else
                .callout.callout-warning
                    h4  Извините, но публикаций нет
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.